body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 4.5% 40% 45.5% 10%;
  grid-template-areas:
    "hd nv nv"
    "s1 s1 s1"
    "s2 s3 s4"
    "ft ft ft";
  margin: 0px;
  height: 2250px;
}

a {
  text-transform: capitalize;
  text-decoration: none;
}

header {
  grid-area: hd;
  height: 100%;
  width: 100%;
  text-align: center;
}

img {
  width: 100px;
  margin-left: 30px;
}

header p {
  margin-top: -65px;
  margin-left: 390px;
  font-size: x-large;
  background-color: #0c273d;
  width: 62px;
  color: #3498db;
  border-radius: 5px;
}

nav {
  display: flex;
  grid-area: nv;
  height: 100%;
  width: 100%;
}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-size: large;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  padding-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  color: black;
}

nav a:hover {
  background-color: #3498db73;
  text-decoration: underline;
}

#searchsection {
  background-image: url("/img/bernard-hermant-x_U8hDa-1YA-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-area: s1;
}

.searchbar {
  text-transform: capitalize;
  position: relative;
  width: 600px;
  margin-top: 133px;
  margin-bottom: 133px;
  margin-left: 33%;
  margin-right: 33%;
}

footer {
  grid-area: ft;
  height: 100%;
  width: 100%;
}

footer {
  width: 100%;
  background-color: #3498db;
  color: white;
  text-align: center;
  padding: 10px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #f1c40f;
}

.footerinfo {
  margin-top: 75px;
  margin-bottom: 75px;
}
