body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: grid;
  margin: 0px;
  height: 2250px;
  width: 100vw;
}

#indexbody {
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 4.5% 40% 45.5% 10%;
  grid-template-areas:
    "hd nv nv"
    "s1 s1 s1"
    "s2 s3 s4"
    "ft ft ft";
}

#fastigheterbody {
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 4.5% 10% 25.1666% 25.1667% 25.1667% 10%;
  grid-template-areas:
    "hd nv nv"
    "ser ser ser"
    "se1 se2 se3"
    "se4 se5 se6"
    "se7 se8 se9"
    "ft ft ft";
}

#inspirationbody {
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: 4.5% 30% 10% 27.75% 27.75% 10%;
  grid-template-areas:
    "hd nv nv"
    "sc1 sc1 sc1"
    "sc2 sc2 sc2"
    "sc3 sc4 sc5"
    "sc6 sc7 sc8"
    "ft ft ft";
}

#fastsearchsect {
  grid-area: "ser";
}

#fastsearchsect .search {
  border-style: solid;
  border-color: rgba(53, 53, 53, 0.192);
  border-radius: 5px;
}

.fastighetercard {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  height: 500px;
  width: auto;
  background-color: rgb(107, 100, 100);
  overflow: hidden;
}

.fastighetercard:hover .pris,
.fastdesc {
  width: 625px;
  background-color: rgba(255, 255, 255, 0.444);
  color: green;
  transition: 0.5s;
}

.pris {
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 128, 0, 0);
  font-size: x-large;
  width: 0%;
  margin-top: 300px;
  position: absolute;
}

.fastdesc {
  text-align: start;
  background-color: rgba(255, 255, 255, 0);
  color: rgba(0, 128, 0, 0);
  font-size: large;
  width: 0%;
}

#sc1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-area: sc1;
  background-color: aliceblue;
}

.changeleft {
  margin-left: 435px;
  width: 100px;
  transform: rotate(180deg);
}

.changeright {
  width: 100px;
  margin-right: 435px;
}

.bigpic {
  width: 850px;
  height: auto;
}

#searchsect {
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-area: sc2;
  width: 100%;
  text-align: center;
  background-color: white;
}

#searchsect .search {
  border-style: solid;
  border-color: rgba(53, 53, 53, 0.192);
  border-radius: 5px;
}

.card {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  border-radius: 10px;
  height: 600px;
  width: auto;
  background-color: rgb(107, 100, 100);
  overflow: hidden;
}

.desc {
  background-color: rgba(255, 255, 255, 0.444);
  width: 590px;
  position: absolute;
  text-align: start;
  margin-top: 464px;
  padding-left: 10px;
  padding-right: 15px;
}

.card .click {
  background-color: rgba(255, 255, 255, 0.444);
  width: 623px;
  position: absolute;
  text-align: center;
  font-size: x-large;
  margin-top: 300px;
}

.card img {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
}

a {
  text-transform: capitalize;
  text-decoration: none;
}

.search {
  margin-top: 0px;
  margin-left: 35vw;
  font-size: xx-large;
  background-color: white;
  width: 500px;
  text-align: start;
  color: rgba(53, 53, 53, 0.781);
}

header {
  grid-area: hd;
  height: 100%;
  width: 100%;
  text-align: center;
}

header img {
  width: 100px;
  margin-left: -80px;
}

header p {
  margin-top: -65px;
  margin-left: 330px;
  font-size: x-large;
  background-color: #0c273d;
  width: 62px;
  color: #3498db;
  border-radius: 5px;
}

nav {
  display: flex;
  grid-area: nv;
  height: 100%;
  width: 100%;
}

nav a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-size: large;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 10px;
  padding-top: 30px;
  margin-left: 100px;
  margin-right: 100px;
  color: black;
}

nav a:hover {
  background-color: #3498db73;
  text-decoration: underline;
}

footer {
  grid-area: ft;
  height: 100%;
  width: 100%;
}

#signup h1 {
  background-color: rgba(255, 255, 255, 0.444);
  position: absolute;
  width: 200px;
  height: auto;
}

#FastigheterCard h1 {
  background-color: rgba(255, 255, 255, 0.444);
  position: absolute;
  width: 200px;
  height: auto;
}

#inspirationCard h1 {
  background-color: rgba(255, 255, 255, 0.444);
  position: absolute;
  width: 200px;
  height: auto;
  text-align: center;
}

#signup {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  grid-area: s3;
  margin: 15px;
  border-radius: 15px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: hidden;
}

#signup img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  padding-right: 30px;
}

#signup img:hover {
  filter: blur(2px);
  transition: 0.5s;
}

#signup:hover h1 {
  color: #0c273d00;
  transition: 0.5s;
  background-color: #0c273d00;
}

#signup:hover p {
  width: 150px;
  height: 55px;
  transition: 0.5s;
  color: black;
  background-color: white;
  filter: none;
  font-size: x-large;
}

#signup p {
  margin: 0px;
  padding: 0px;
  width: 0px;
  height: 0px;
  color: #0c273d00;
  text-align: center;
  position: absolute;
}

#FastigheterCard {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  grid-area: s2;
  margin: 15px;
  border-radius: 15px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  overflow: hidden;
}

#FastigheterCard img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  padding-right: 30px;
}

#FastigheterCard img:hover {
  filter: blur(2px);
  transition: 0.5s;
}

#FastigheterCard:hover h1 {
  color: #0c273d00;
  transition: 0.5s;
  background-color: #0c273d00;
}

#FastigheterCard:hover a {
  width: 200px;
  height: auto;
  transition: 0.5s;
  color: black;
  background-color: white;
  filter: none;
  font-size: xx-large;
}

#FastigheterCard a {
  margin: 0px;
  padding: 0px;
  width: 0px;
  height: 0px;
  color: #0c273d00;
  text-align: center;
  position: absolute;
}

#inspirationCard {
  grid-area: s4;
  margin: 15px;
  border-radius: 15px;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#inspirationCard img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  padding-right: 30px;
}

#inspirationCard img:hover {
  filter: blur(2px);
  transition: 0.5s;
}

#inspirationCard:hover h1 {
  color: #0c273d00;
  transition: 0.5s;
  background-color: #0c273d00;
}

#inspirationCard:hover a {
  width: 200px;
  height: auto;
  transition: 0.5s;
  color: black;
  background-color: white;
  filter: none;
  font-size: xx-large;
}

#inspirationCard a {
  margin: 0px;
  padding: 0px;
  width: 0px;
  height: 0px;
  color: #0c273d00;
  text-align: center;
  position: absolute;
}

#searchsection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  grid-area: s1;
  background-image: url("/img/bernard-hermant-x_U8hDa-1YA-unsplash-min.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
}

footer {
  grid-area: ft;
  height: 100%;
  width: 100%;
}

footer {
  width: 100%;
  background-color: #3498db;
  color: white;
  text-align: center;
  padding: 10px;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  color: #f1c40f;
}

.footerinfo {
  margin-top: 75px;
  margin-bottom: 75px;
}

#c1 {
  grid-area: se1;
}

#c2 {
  grid-area: se2;
}

#c3 {
  grid-area: se3;
}

#c4 {
  grid-area: se4;
}

#c5 {
  grid-area: se5;
}

#c6 {
  grid-area: se6;
}

#c7 {
  grid-area: se7;
}

#c8 {
  grid-area: se8;
}

#c9 {
  grid-area: se9;
}
