body{
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 10% 10% 35% 40% 5%;
    grid-template-areas: 
    'hd hd hd'
    'nv nv nv'
    's1 s1 s1'
    's2 s2 s2'
    'ft ft ft';
    margin: 0px;
    height: 1000px;
}

a{
    text-transform: capitalize;
    text-decoration: none;
}

.header{
    grid-area: hd;
    height: 100%;
    width: 100%;
}

nav{
    display: flex;
    grid-area: nv;
    height: 100%;
    width: 100%;
}

nav a{
    flex: 1;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-size: x-large;
    justify-content: center;
    align-items: center;
}

footer{
    grid-area: ft;
    height: 100%;
    width: 100%;
}

#Cardssection{
    grid-area: s2;
    height: 100%;
    width: 100%;
}

#searchsection{
    background-image: url("/img/bernard-hermant-x_U8hDa-1YA-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: s1;
    height: 100%;
    width: 100%;
}

.searchbar{
    height: 100px;
    width: 75px;
}