body{
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 5% 5% 40% 45% 5%;
    grid-template-areas: 
    'hd hd hd'
    'nv nv nv'
    's1 s1 s1'
    's2 s3 s4'
    'ft ft ft';
    margin: 0px;
    height: 1000px;
}

a{
    text-transform: capitalize;
    text-decoration: none;
}

.header{
    grid-area: hd;
    height: 100%;
    width: 100%;
}

nav{
    display: flex;
    grid-area: nv;
    height: 100%;
    width: 100%;
}

nav a{
    flex: 1;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    font-size: large;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 100px;
    margin-right: 100px;
    color: black;
}

nav a:hover{
    background-color: rgb(223, 223, 223);
    text-decoration: underline;
}

footer{
    grid-area: ft;
    height: 100%;
    width: 100%;
}

#signup{
    grid-area: s3;
    background-color: blue;
    margin: 15px;
    margin-top: 20px;
    border-radius: 15px;
}

#FastigheterCard{
    grid-area: s2;
    background-color: red;
    margin: 15px;
    margin-top: 20px;
    border-radius: 15px;
}

#inspirationCard{
    grid-area: s4;
    background-color: black;
    margin: 15px;
    margin-top: 20px;
    border-radius: 15px;
}

#searchsection{
    background-image: url("/img/bernard-hermant-x_U8hDa-1YA-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: s1;
}

.searchbar{
    text-transform: capitalize;
    position: relative;
    width: 600px;
    margin-top: 133px;
    margin-bottom: 133px;
    margin-left: 33%;
    margin-right: 33%;
}
